<!DOCTYPE html>
{% extends "web_app/index.html" %}
{% load static
  {% load crispy_forms_tags %}
{% block body-block %}
{% block button-block %}
 {% endblock %}
<div class="container_12">
  <div class="jumbotron">
    <p class=" font-weight-ligth text-center text-danger">* search your pet here *</p>
  </br>
    <form action="search" method="GET">
      {% csrf_token %}
      <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ filter.form.name|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ filter.form.pet_type|as_crispy_field }}
      </div>
    </div>
    <div class="col text-center">
      <button type="submit" name="button" class="btn btn-warning">search</button>
</div>
    </form>
  </div>
</div>
<div class="container_12">
  <div class="jumbotron">
    <ul>
      {% for filters in filter.qs %}
      {% for document in documents %}
       {% if filters.pk == document.pk %}
       {% if filters.status == 'Available' %}
       {% if filters.pet_type == 'Cat' %}
       <li><a href="{{ document.docfile.url }}"><span style="background:none;">
       <img class="img-thumbnail mx-auto d-block" src="{{ document.docfile.url }}" alt="{{ document.docfile.name }}" width="150" height="auto"></span></a>
       <div class="col text-center">
       <p class="font-weight-light text-center text-uppercase text-dark">Description: <span class="font-weight-light text-center text-lowercase text-muted">{{ filters.description }}</span></p>
       <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{ filters.id }}">For More Contact</button>
         <li id="{{ filters.id }}" class="collapse">
         </br>
           <p class="font-weight-light text-center text-uppercase text-dark">Name: <span class="font-weight-light text-center text-lowercase text-muted">{{ filters.name }}</span></p>
           <p class="font-weight-light text-center text-uppercase text-dark">phone no: <span class="font-weight-light text-center text-lowercase text-muted">{{ filters.phone_no }}</span></p>
           <p class="font-weight-light text-center text-uppercase text-dark">email id: <span class="font-weight-light text-center text-lowercase text-muted">{{ filters.email }}</span></p>
           <p class="font-weight-light text-center text-uppercase text-dark">Address: <span class="font-weight-light text-center text-lowercase text-muted">{{ filters.address }}</span></p>
           <div class="col text-center btn-sm">
             <a href="{% url "web_app:edit" filters.pk %}"  class="btn btn-outline-default" role="button">Edit</a>
           </div>
           </li>
</br>
</br>
          {% endif %}
          {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
    </div>
  </div>
</div>
{% endblock %}
